
<h2 class="title">Password Generator</h2>

<div class="result-container">
  <div class="result-field">
    <p class="generate-field">P4$5W0rD!</p>
    <p class="btn-copy"><mat-icon id="copy-icon">content_copy</mat-icon>
    </p>
  </div>
</div>

<div class="container">

    <div class="settings-container">

      <div class="password-range">
        <div class="length-range">
          <p class="length-title">Character Length</p>
          <p>10</p>
        </div>
        
        <input
          type="range"
          name="passwordLength"
          min={8}
          max={30}
          value={passwordLength}
        />
      </div>

      <div class="settings-container">
        <div class="setting">
            <input type="checkbox" id="uppercase" checked/>
            <label for="uppercase">Include Uppercase Letters</label>
        </div>
        <div class="setting">
            <input type="checkbox" id="lowercase" checked />
            <label for="lowercase">Include Lowercase Letters</label>
        </div>
        <div class="setting">
            <input type="checkbox" id="number" checked />
            <label for="number">Include Numbers</label>
        </div>
        <div class="setting">
            <input type="checkbox" id="symbol" />
            <label for="symbol">Include Symbols</label>
        </div>
      </div>

      <div  class="btn-strength">
        <p class="gray-color"> Strenght</p>
        <p> MEDIUM | | | |</p>
      </div>

      <button class="btn-generate-pss" id="generate">GENERATE <mat-icon class="arrow-right">arrow_forward</mat-icon> </button>
    </div>

</div>