 .title{
    font-size: 20px;
    text-align: center;
    color: #817D92;
}

.result-container {
    width: 500px;
    background:  #24232c;
}
.result-field{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

.result-field input{
    font-size: 30px;
    background: none;
    border: none;
    /* margin-top: 6px; */
    color: #817D92;
}

.copied-message{
    margin-top: 10px;
    padding-right: 5px;
    color: #a4ffaf;
    font-size: 13px;
}

.btn-copy{
    margin-top: 6px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    color:#a4ffaf;
}
.btn-copy:hover{
    color: white;
}

.container {
    /* height: 443px; */
    padding: 20px;
    background:  #24232c;
}

.password-range


.length-range{
    display: flex;
    justify-content: space-between;
}

.length-title{
    font-size: 18px;
    color: #E6E5EA;
}

.password-range input{
    width: 97%;
}

.settings-container input {
    margin: 15px;
}


.setting {
    height: 32px;
    position: relative;
    cursor: pointer;
    color: #E6E5EA;
}


.btn-strength{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background-color: #18171F;
    border: none;
    margin: 15px 0 15px 0;
}

.btn-strength p{
    color: #E6E5EA;
    padding: 23px;
    font-size: 24px;
}
.btn-strength .gray-color{
    padding: 23px;
    color: #817D92;
    font-size: 18PX;
}

.tooweak-bar {
    width: 5px;
    height: 20px;
    background-color: #f64a4a;
    border: 1.5px #f64a4a solid;
    display: inline-block;
    margin-right: 5px;
  }
.weak-bar {
    width: 5px;
    height: 20px;
    background-color: #fb7658; 
    border: 1.5px #fb7658 solid;
    display: inline-block;
    margin-right: 5px;
  }
.medium-bar {
    width: 5px;
    height: 20px;
    background-color: #f8cd65; 
    border: 1.5px #f8cd65 solid;
    display: inline-block;
    margin-right: 5px;
  }
  
.strong-bar {
    width: 5px;
    height: 20px;
    background-color: #a4ffaf;
    border: 1.5px #a4ffaf solid;
    display: inline-block;
    margin-right: 5px;
  }
  
.empty-bar {
    width: 5px;
    height: 20px;
    border: 1.5px #E6E5EA solid;
    display: inline-block;
    margin-right: 5px;
}
  

.btn-generate-pss{
    width: 100%;
    height: 65px;
    background-color: #a4ffaf;
    border: none;
    cursor: pointer;
}
.arrow-right{
    font-size: 15px;
    position: absolute;
}

.btn-generate-pss:hover{
    background-color: #24232c;
    color: #a4ffaf;
    border: 1px #a4ffaf solid;
}

.error-message{
    text-align: center;
    color: #f64a4a;
    font-size: 11px;
}




/* CSS for tablets */

@media (min-width: 768px) {
    .title{
        /* padding-top: 60px; */
        font-size: 18px;
    }
    .result-container{
      width: 100%; 
      margin-left: auto;
      margin-right: auto;
    }
    .result-field{
        margin: 20px;
        font-size: 20px;
        margin: 10px;
        padding: 10px;
    }
    .container{
        /* width: calc(100% - 80px);  */
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .length-title{
        font-size: 18px;
    }
    .btn-strength{
        width: 100%;
        height: 52px;
        margin: 10px 10px 15px 0;
    }
    
    .btn-strength p{
        padding: 13px;
        font-size: 18px;
    }
    .btn-strength .gray-color{
        padding: 14px;
        font-size: 18PX;
    }
    .btn-generate-pss{
        height: 44px;
    }
  }
  
  /* CSS for laptops */

  @media (min-width: 1024px) {
    .title{
        /* padding-top: 60px; */
        font-size: 18px;
    }
    .result-container{
      width: 100%; 
      margin-left: auto;
      margin-right: auto;
    }
    .result-field{
        margin: 20px;
        font-size: 24px;
        margin: 10px;
        padding: 10px;
    }
    .container{
        /* width: calc(100% - 80px);  */
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .length-title{
        font-size: 18px;
    }
    .btn-strength{
        width: 100%;
        height: 72px;
        margin: 10px 10px 15px 0;
    }
    
    .btn-strength p{
        padding: 19px;
        font-size: 23px;
    }
    .btn-strength .gray-color{
        padding: 22px;
        font-size: 18PX;
    }
    .btn-generate-pss{
        height: 60px;
    }
  }
  
  /* CSS for mobiles */

  @media (max-width: 530px){
    .title{
        /* padding-top: 60px; */
        font-size: 14px;
    }
    .result-container{
      width: 100%; 
      margin-left: auto;
      margin-right: auto;
    }
    .result-field{
        margin: 20px;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
    }
    .container{
        /* width: calc(100% - 80px);  */
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .length-title{
        font-size: 14px;
    }
    .btn-strength{
        width: 100%;
        height: 42px;
        margin: 10px 10px 15px 0;
    }
    
    .btn-strength p{
        padding: 10px;
        font-size: 15px;
    }
    .btn-strength .gray-color{
        padding: 13px;
        font-size: 12PX;
    }
    .btn-generate-pss{
        height: 39px;
    }
  }
  