.title{
    font-size: 20px;
    text-align: center;
    color: #817D92;
}
.result-container {
    background:  #24232c;
}
.result-field{
    margin: 20px;
    padding: 10px;
}
.result-field input{
    font-size: 30px;
    background: none;
    border: none;
    color: #E6E5EA;
}
.copied-container {
    position: absolute;
    top: 31.5%;
    left: 69%;
    transform: translate(-50%, -50%);
    white-space: nowrap; 
}

.copied-message {
    padding: 5px;
    color: #a4ffaf;
    font-size: 13px;
}

.btn-copy{
    background: none;
    border: none;
    cursor: pointer;
}
.btn-copy:hover img.copy-icon {
    filter: brightness(9.8);
}
.settings-container {
    padding: 20px;
    background:  #24232c;
}
.length-range{
    display: flex;
    justify-content: space-between;
}
.length-title{
    font-size: 18px;
    color: #E6E5EA;
    margin: 13px;
}
.range-count{
    font-size: 32px;
    color: #a4ffaf;
}
.slider-container {
    position: relative;
    width: 97%;
}
.slider{
    width: 100%;
    height: 8px;
    cursor: pointer;
    appearance: none;
    background: #18171F;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #E6E5EA;
    border-radius: 50%;
    position: relative;
    z-index: 2; 
}  
.slider:hover::-webkit-slider-thumb {
    background: #18171F;
    border: 1.5px solid #a4ffaf;
}
.slider-track {
    position: absolute;
    height: 8px;
    background-image: linear-gradient(#a4ffaf, #a4ffaf);
    background-size: 30% 100%;
    top: 9px;
    left: 0;
}
.setting-container{
    margin-top: 15px;
}
.setting {
    height: 32px;
    cursor: pointer;
    color: #E6E5EA;
}
label{
    margin: 13px;
}
input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color:#18171F;
    cursor: pointer;
    border: 1.5px solid #E6E5EA;
}
input[type='checkbox']:hover{
    border: 1.5px #a4ffaf solid;
}
input[type='checkbox']:checked {
    background-color: #a4ffaf;
    background-image: url('../assets/images/icon-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.btn-strength{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background-color: #18171F;
    border: none;
    margin: 15px 0 15px 0;
}
.btn-strength p{
    color: #E6E5EA;
}
.btn-strength .gray-color{
    color: #817D92;
}
.tooweak-bar {
    width: 8px;
    height: 20px;
    background-color: #f64a4a;
    border: none;
    display: inline-block;
    margin-right: 5px;
}
.weak-bar {
    width: 8px;
    height: 20px;
    background-color: #fb7658; 
    border: none;
    display: inline-block;
    margin-right: 5px;
}
.medium-bar {
    width: 8px;
    height: 20px;
    background-color: #f8cd65; 
    border: none;
    display: inline-block;
    margin-right: 5px;
}  
.strong-bar {
    width: 8px;
    height: 20px;
    background-color: #a4ffaf;
    border: none;
    display: inline-block;
    margin-right: 5px;
}  
.empty-bar {
    width: 8px;
    height: 20px;
    border: 1.5px #E6E5EA solid;
    display: inline-block;
    margin-right: 5px;
}
.btn-generate-pss{
    width: 100%;
    height: 65px;
    background-color: #a4ffaf;
    border: none;
    cursor: pointer; 
    font-weight: 800;
}
.btn-generate-pss:hover {
    background-color: #24232c;
    color: #a4ffaf;
    border: 1px #a4ffaf solid;
}
.arrow-right{
    margin-left: 8px;
}
.btn-generate-pss:hover img{
    filter: brightness(9.8);
}
.error-message{
    text-align: center;
    color: #f64a4a;
    font-size: 11px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .title{
        font-size: 18px;
    }
    .result-field{
        margin: 20px;
        font-size: 20px;
        margin: 10px;
        padding: 10px;
    }
    .container{
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .length-title{
        font-size: 18px;
    }
    .btn-strength{
        width: 100%;
        height: 52px;
        margin: 10px 10px 15px 0;
    }
    .span-cont{
        display: flex;
        justify-content: space-around;
    }
    .span-cont .strengthp{
        padding: 0;
        margin-right: 8px;
        font-size: 20px;
    }
    
    .btn-strength p{
        padding: 13px;
    }
    .btn-strength .gray-color{
        padding: 14px;
        font-size: 14PX;
    }
    .btn-generate-pss{
        height: 44px;
    }
}
@media only screen and (min-width: 1024px){
    .title{
        font-size: 18px;
    }
    .result-field{
        margin: 20px;
        font-size: 24px;
        margin: 10px;
        padding: 10px;
    }
    .length-title{
        font-size: 18px;
    }
    .btn-strength{
        width: 100%;
        height: 72px;
        margin: 10px 10px 15px 0;
    }
    .span-cont{
        display: flex;
        justify-content: space-around;
    }
    .span-cont .strengthp{
       margin: -22px;
        margin-right: -5px;
    }
    .btn-strength p{
        padding: 19px;
        font-size: 23px;
    }
    .btn-strength .gray-color{
        padding: 22px;
        font-size: 18PX;
    }
    .btn-generate-pss{
        height: 60px;
    }
  }
@media only screen and (max-width: 767px) {
    .title{
        font-size: 14px;
    }
    .result-field input{
        font-size: 20px;
    }
    .result-field{
        margin: 10px;
    }
    .length-title{
        font-size: 14px;
    }
    .btn-strength{
        height: 42px;
    }
    
    .btn-strength p{
        padding: 10px;
        font-size: 15px;
    }
    .span-cont{
        display: flex;
        justify-content: space-around;
    }
    .span-cont .strengthp{
        padding: 2px;
        margin-right: 8px;
    }

    .btn-strength .gray-color{
        padding: 13px;
        font-size: 12PX;
    }
    .btn-generate-pss{
        height: 39px;
    }
}