<div class="box-container">
 
  <h2 class="title">Password Generator</h2>

  <div class="result-container">
    <div class="result-field">
      <input
        disabled
        class="generate-field"
        [value]="password"
        placeholder="P4$5W0rD!"
      >
      <span *ngIf="copied" class="copied-message">Copied!</span>
      <button class="btn-copy" (click)="copyPassword()">
        <mat-icon id="copy-icon">content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="container">

      <div class="settings-container">

        <div class="password-range">
          <div class="length-range">
            <p class="length-title">Character Length</p>
            <p>{{ passwordLength }}</p>
          </div>
          
          <input
            type="range"
            name="passwordLength"
            min={6}
            [max]="maxPasswordLength"
            step="1"
            (input)="updateLength($event)"
            [value]="passwordLength"
          />
        </div>
        <!-- value={passwordLength} -->

        <div class="settings-container">
          <div class="setting">
              <input type="checkbox" id="uppercase" (change)="onChangeUseUppercaseLetters()"/>
              <label for="uppercase">Include Uppercase Letters</label>
          </div>
          <div class="setting">
              <input type="checkbox" id="lowercase" (change)="onChangeUseLowercaseLetters()"/>
              <label for="lowercase">Include Lowercase Letters</label>
          </div>
          <div class="setting">
              <input type="checkbox" id="number" (change)="onChangeUseNumbers()"/>
              <label for="number">Include Numbers</label>
          </div>
          <div class="setting">
              <input type="checkbox" id="symbol" (input)="onChangeUseSymbols()" />
              <label for="symbol">Include Symbols</label>
          </div>
        </div>

        <!-- <div class="btn-strength">
          <p class="gray-color"> STRENGTH</p>
          <p>
            <span *ngIf="getStrength() === 'Too Weak'" class="red-color">TO WEAK |</span>
            <span *ngIf="getStrength() === 'Weak'">WEAK ||</span>
            <span *ngIf="getStrength() === 'Medium'" class="green-color">MEDIUM |||</span>
            structural directive
            <ng-container *ngIf="getStrength() === 'Strong' || getStrength() === ''">
              <span *ngIf="getStrength() === 'Strong'">STRONG </span>
              ||||
            </ng-container>
          </p>
        </div> -->
        
        <div class="btn-strength">
          <p class="gray-color">STRENGTH</p>
          <p>
            <span *ngIf="getStrength() === 'Too Weak'" class="red-color">
              TOO WEAK <span class="tooweak-bar"></span><span ></span><span class="empty-bar"></span><span class="empty-bar"></span><span class="empty-bar"></span>
            </span>
            <span *ngIf="getStrength() === 'Weak'">
              WEAK <span class="weak-bar"></span><span class="weak-bar"></span><span class="empty-bar"></span><span class="empty-bar"></span>
            </span>
            <span *ngIf="getStrength() === 'Medium'" class="green-color">
              MEDIUM <span class="medium-bar"></span><span class="medium-bar"></span><span class="medium-bar"></span><span class="empty-bar"></span>
            </span>
            <ng-container *ngIf="getStrength() === 'Strong' || getStrength() === ''">
              <span *ngIf="getStrength() === 'Strong'" class="strong-color">
                STRONG <span class="strong-bar"></span><span class="strong-bar"></span><span class="strong-bar"></span><span class="strong-bar"></span>
              </span>
              <span class="empty-bar" *ngIf="getStrength() !== 'Strong'"></span><span class="empty-bar" *ngIf="getStrength() !== 'Strong'"></span><span class="empty-bar" *ngIf="getStrength() !== 'Strong'"></span><span class="empty-bar" *ngIf="getStrength() !== 'Strong'"></span>
            </ng-container>
          </p>
        </div>
        
        
        

        <button 
          (click)="generatePassword()"
          class="btn-generate-pss" 
          >GENERATE 
          <mat-icon class="arrow-right">arrow_forward</mat-icon> 
        </button>

      </div>

  </div>

</div>