<div class="box-container">
 
  <h2 class="title">Password Generator</h2>

  <div class="result-container">
    <div class="result-field">
      <input
        disabled
        class="generate-field"
        [value]="password"
        placeholder="P4$5W0rD!"
      >
      <span *ngIf="copied" class="copied-message">COPIED</span>
      <button class="btn-copy" (click)="copyPassword()">
        <img class="copy-icon" src="../assets/images/icon-copy.svg" alt="">
      </button>
    </div>
  </div>

  <div class="settings-container">

    <div class="password-range">
      <div class="length-range">
        <p class="length-title">Character Length</p>
        <p class="range-count">{{ passwordLength }}</p>
      </div>

      <div class="slider-container">
        <input
          type="range"
          class="slider"
          [max]="maxPasswordLength"
          [value]="passwordLength"
          (input)="updateLength($event)"
        />
        <div class="slider-track" [style.width.%]="getPercentage()"></div>
      </div>
    </div>

    <div class="setting-container">
      <div class="setting">
          <input type="checkbox" id="uppercase" (change)="onChangeUseUppercaseLetters()"/>
          <label for="uppercase">Include Uppercase Letters</label>
      </div>
      <div class="setting">
          <input type="checkbox" id="lowercase" (change)="onChangeUseLowercaseLetters()"/>
          <label for="lowercase">Include Lowercase Letters</label>
      </div>
      <div class="setting">
          <input type="checkbox" id="number" (change)="onChangeUseNumbers()"/>
          <label for="number">Include Numbers</label>
      </div>
      <div class="setting">
          <input type="checkbox" id="symbol" (input)="onChangeUseSymbols()" />
          <label for="symbol">Include Symbols</label>
      </div>
    </div>
    
    <div class="btn-strength">
      <p class="gray-color">STRENGTH</p>
      <p>
        <span *ngIf="calculateEffectiveStrength() === 'Too Weak'" class="span-cont">
          <p class="strengthp">TOO WEAK </p><span class="tooweak-bar"></span><span ></span><span class="empty-bar"></span><span class="empty-bar"></span><span class="empty-bar"></span>
        </span>
        <span *ngIf="calculateEffectiveStrength() === 'Weak'" class="span-cont">
          <p class="strengthp">WEAK </p><span class="weak-bar"></span><span class="weak-bar"></span><span class="empty-bar"></span><span class="empty-bar"></span>
        </span>
        <span *ngIf="calculateEffectiveStrength() === 'Medium'" class="span-cont">
          <p class="strengthp">MEDIUM </p><span class="medium-bar"></span><span class="medium-bar"></span><span class="medium-bar"></span><span class="empty-bar"></span>
        </span>
        <!-- structural directive -->
        <ng-container *ngIf="calculateEffectiveStrength() === 'Strong' || calculateEffectiveStrength() === ''">
          <span *ngIf="calculateEffectiveStrength() === 'Strong'" class="span-cont">
            <p class="strengthp">STRONG </p><span class="strong-bar"></span><span class="strong-bar"></span><span class="strong-bar"></span><span class="strong-bar"></span>
          </span>
          <span class="empty-bar" *ngIf="calculateEffectiveStrength() !== 'Strong'"></span><span class="empty-bar" *ngIf="calculateEffectiveStrength() !== 'Strong'"></span><span class="empty-bar" *ngIf="calculateEffectiveStrength() !== 'Strong'"></span><span class="empty-bar" *ngIf="calculateEffectiveStrength() !== 'Strong'"></span>
        </ng-container>
      </p>
    </div>
    
    <button 
      (click)="generatePassword()"
      class="btn-generate-pss" 
      >GENERATE 
      <img class="arrow-right" src="../assets/images/icon-arrow-right.svg" alt="">
    </button>

    <p class="error-message" *ngIf="showErrorMessage">Please select at least one option</p>
  </div>

</div>
