/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #18171F;
    color: #E6E5EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
